@charset "utf-8";
@import url("common.css");
@import url("header_footer.css");

.sub_brand_notice{
*zoom:1;
margin-top: 120px;
}
.sub_brand_notice:after{
	content: '';
	display: block;
	clear: both;
}
#side_nav{
float: left;
margin-top: 40px;
}
#side_nav ul{
}
#side_nav ul li{
	display: block;
	width: 144px;
	line-height: 35px;
	background: #2e83c7;
	border-top: 1px solid #2e83c7;
	border-bottom: 1px solid #2e83c7;
	margin-bottom: 8px;
}
#side_nav ul li a{
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
#contents{
float: left;
margin-left: 80px;
width: 720px;
padding:0;
padding-bottom: 220px;
}
#contents .subject{
	width: 720px;
	border-bottom: 1px solid #94c6ee;
	*zoom:1;
}
#contents .subject li:first-child{
	float: left;
	margin-left: 15px;
}
#contents .subject li:last-child{
	float: right;
	/*display: block;*/
	margin-top: 20px;
	width: 170px;
	height: 12px;
	background: url(../img/home.png) no-repeat 0 3px;
	/*background:orange;*/
	color: #80add2;
	margin-right: 10px;

}
#contents .subject:after{
	content: '';
	display: block;
	clear: both;
}
#contents .content .search{
	float: right;
	clear: right;
	margin-right: 20px;
	margin-top: 20px;
	/*background: gray;*/
}
#contents .content .table{
/*	width: 400px;*/
	/*background: orange;*/
	padding-top: 70px;
	padding-left: 10px;
	color: #767676;
}
#contents .content .table .Tnumber{
	width: 110px;
	height: 28px;
}
#contents .content .table .Tsubject{
	width: 420px;
}
#contents .content .table  .Tsubject{
	text-align: left;
	text-indent: 30px;
}
#contents .content .table .Tdate{
	width: 180px;
}
#contents .content .table table thead{
	/*background: url(../img/Tsub_bg.png);*/
	background-color: #f8f8f8;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ececec;
}
#contents .content .table table tbody tr{
	border-bottom: 1px solid #ececec;
}



/*#contents .content .table th.Tsubject{
	background: url(../img/Tsub_bg.png);
}*/