// $font-stack: 'Helvetica', sans-serif;
$font-stack : 'Nanum Gothic', sans-serif;
$font-black: #333;
$font-gray: #B2B2B2;
$font-thick-gray: #9a9595;
$white: #fff;
$dark: #000;
$inner-wrap : 1000px;

body {
  font-family: $font-stack;
  color: $font-black;
}
body, ul, li, p, dd {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
div, p {
	box-sizing: border-box;
}

a, a:hover, a:link, a:visited, a:active {
	font-size: 18px;
	font-weight: 600;
	color: $font-black;
	text-decoration: none;
	oueline: none;
}
.inner-wrap {
	width: $inner-wrap;
	margin: 0 auto;
}

// header 부분
@import "_header";


// blog-list 부분

@mixin background($coverimg) {
	background: url(../img/#{$coverimg}.jpg) center center no-repeat;
	background-size: cover;
}

%clear {
	content: '';
	display: block;
	clear: both;
}

%tagLi {
	float: left;
	font-size: 12px;
	margin-right: 10px;
	color: $font-gray;
	padding: 3px 5px;
	display: inline-block;
	text-align: center;
	border: 1px solid $font-gray;
	border-radius: 10px;
}

%ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//navigation

body {
	position: relative;
}

