@media screen and (max-width: 1000px) {

	//메뉴부분
	.menu-wrap .toggle:checked ~ .menu {
		width: 40vw;
	}

	//리스트 페이지
	.book-intro {
		// margin-top: 85px;
		display: none;
	}
	.blog-list {
		padding: 65px 10px 0 0;
	}
	.inner-wrap {
		width: 100%;
	}

	//page 페이지
	.blog-page {
		.inner-wrap {
			padding: 0 10px;
		}
		.page-title {
			height: 300px;	
			.img-area {
				height: 300px;
			}
			img {
				top: 0;
				width: auto;
			}
			.main-title {
				position: relative;
				top:0;
				left:0;
				padding-top: 160px;
				font-size: 23px;
			}
			.page-info {
				position: relative;
				top:0;
				left:0;
				padding-top: 20px;
			}
			
		}

		//footer
		.footer {
			display: none;
		}
	}


}


@media screen and (max-width: 500px) {
	//메뉴부분
	.menu-wrap .toggle:checked ~ .menu {
		width: 100vw;
	}
}


