<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

  	<div class="wrap">
      {% include navigation.html %}

  		<div class="inner-wrap">
  			<section class="book-intro">
	  			<ul>
            <li>
              <div class="book-cover" style="background:url({{site.baseurl}}/assets/img/{{page.menu}}.jpg) center no-repeat;background-size: cover;">
                <p class="writer">{{ page.group }}</p>
              </div>
            </li>
            <li>
              <div class="book-about">
                <p class="title-area">
                  <span class="title">{{ page.title }}</span>
                  <span class="count"><i class="fas fa-book-reader"></i><span id="exp_count">30</span> 글</span>
                </p>
                <p class="book-descript">
                  {{ page.explanation }}
                </p>
              </div>
            </li>
          </ul>
  			</section>

  			<article class="blog-list">
        {% assign sorted = site.posts | sort: 'date_end' | reverse%}
        {% assign i=0 %}
        {% for post in sorted %}
          {% if page.menu == post.menu or page.menu == 'gelato' %}
          {% assign i = i | plus:1 %}
    				<dl class="list">
              <dt class="title">
                <span class="main-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="count">{{ i }}.</span>
                    {{ post.title }}
                  </a>
                </span>
              </dt>
              <dd>
                <p class="contents">
                    {{ post.content | strip_html | truncatewords:70 }}
                </p>

                <ul class="datearea">
                  {% if post.tags != empty %}
                    <li class="tagarea">
                      <ul class="tags">
                        {% for tag in post.tags %}
                          <li>{{ tag }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                    <li class="date">
                      <span>{{ post.date_start | date: '%m. %d' }} - {{ post.date_end | date: '%m. %d. %Y' }}</span>
                    </li>
                </ul>
                
                  <ul>
                    
                  </ul>
                

              </dd>
            </dl>
            {% endif %}
          {% endfor %}

          <span id ="all_count" style="display: none;">{{i}}</span>

  			</article>
  		</div>
  	</div>	



    <script>
      var count = document.getElementById('all_count');
      var all_count = count.innerHTML;
      var exp_count = document.getElementById('exp_count');
      exp_count.innerHTML = all_count;
    </script>
  </body>
</html>
