<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="wrap">
      {% include navigation.html %}

      <div class="inner-wrap">
        <section class="book-intro">
          <ul>
            <li>
              <div class="book-cover" style="background:url({{site.baseurl}}/assets/img/gelato.jpg) center no-repeat;background-size: cover;">
                <!-- <p class="title">{{ page.title }}</p> -->
                <p class="writer">Gelato's Tech Blog</p>
              </div>
            </li>
            <li>
              <div class="book-about">
                <p class="title-area">
                  <span class="title">기술블로그</span>
                  <span class="count"><i class="fas fa-book-reader"></i><span id="exp_count">30</span> 글</span>
                </p>
                <p class="book-descript">
                  안녕하세요<br>Front-end 개발자로 일하고 있습니다. <br>예전에 여행을 하다가 너무 지쳐있었을때 사먹었던 젤라또 덕분에 여행을 끝까지 마칠 수 있었던 기억이 있습니다.<br>이 기술블로그가 개발자생활의 젤라또 같은 의미가 되었으면 합니다.
                </p>
                <!-- <ul class="tags">
                  {% for item in page.words %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul> -->
              </div>
            </li>
          </ul>
        </section>

        <article class="blog-list">
        {% assign sorted = site.posts | sort: 'date_end' | reverse%}
        {% assign i=0 %}
        {% for post in sorted %}
          {% assign i = i | plus:1 %}
            <dl class="list">
              <dt class="title">
                <span class="main-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="count">{{ i }}.</span>
                    {{ post.title }}
                  </a>
                </span>
              </dt>
              <dd>
                <p class="contents">
                    {{ post.content | strip_html | truncatewords:70 }}
                </p>

                <ul class="datearea">
                  {% if post.tags != empty %}
                    <li class="tagarea">
                      <ul class="tags">
                        {% for tag in post.tags %}
                          <li>{{ tag }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                    <li class="date">
                      <span>{{ post.date_start | date: '%m. %d' }} - {{ post.date_end | date: '%m. %d. %Y' }}</span>
                    </li>
                </ul>
                
                  <ul>
                    
                  </ul>
                

              </dd>
            </dl>
          {% endfor %}

          <span id ="all_count" style="display: none;">{{i}}</span>

        </article>
      </div>
    </div>  



    <script>
      var count = document.getElementById('all_count');
      var all_count = count.innerHTML;
      var exp_count = document.getElementById('exp_count');
      exp_count.innerHTML = all_count;
    </script>
  </body>
</html>
